<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NamesDaysEntities" connectionString="metadata=res://*/NamesDaysModel.csdl|res://*/NamesDaysModel.ssdl|res://*/NamesDaysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4be8c18a-1ff8-4d51-8073-a24a00dde8ad.sqlserver.sequelizer.com;initial catalog=db4be8c18a1ff84d518073a24a00dde8ad;persist security info=True;user id=yfrcuvlqfefbvgid;password=QhWHxNqU6ujHtG2UmzEjB3Pw4KLJPivfmCGS24tr44hBQ2tPsyZxTkNVzyMUcPeW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>